@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  --e-global-color-primary: #269bff;
  --e-global-color-secondary: #006be6;
  --e-global-color-text: #0a3053;
  --e-global-color-accent: #8dbede;
  --e-global-color-18a136e: #3f7598;
  --e-global-color-c1cb774: #f4f8fc;
  --e-global-color-05cf5d2: #061c3d;
  --e-global-color-1f2c0c1: #2bd7f2;
  --e-global-color-e41cc18: #ffffff;
  --e-global-typography-primary-font-family: "Rubik";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Rubik";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Rubik";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Rubik";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-00d6437-font-family: "Rubik";
  color: var(--e-global-color-text);
  font-family: "Rubik", Sans-serif;
  padding: 1em;
}

h1 {
  font-size: 36px;
  text-align: center;
}

header {
  display: grid;
  justify-items: center;
  margin-bottom: 4em;
}

.headerLink {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 4em;
}

.tileGrid {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  padding: 0;
  text-align: center;
}

.tile {
  list-style: none;
  padding: 25px;
  border-radius: 1em;
  transition-property: background, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.tile:hover {
  background: #eee;
  transform: scale(1.01);
}

.tile a {
  color: inherit;
  display: grid;
  gap: 0.5em;
  text-decoration: none;
}

.tile .name {
  --page-title-display: none;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  hyphens: manual;
  text-align: center;
  border: 0;
  font-style: inherit;
  vertical-align: baseline;
  font-family: Rubik;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
  box-sizing: border-box;
  padding: 0;
  margin: 1em 0 0 0;
  line-height: 1;
  font-size: 19px;
}

.avatar {
  aspect-ratio: 1;
  border-radius: 50%;
  max-width: 100%;
  width: 200px;
  object-fit: cover;
}

.avatar.large {
  width: 500px;
}

.location {
  color: #4987ae;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.person {
  display: grid;
  justify-items: center;
}

.name,
.location {
  text-align: center;
}

.bio {
  max-width: 500px;
}

@media (min-width: 800px) {
  body {
    padding: 2em;
  }
}
